<!DOCTYPE html>
<html>
<head>
    <title>Blogs</title>
</head>
<body>
    <h1>List of Blogs</h1>
    <% blogs.forEach(blog => { %>
        <div>
            <a href="/blog/<%= blog._id %>"><%= blog.content %></a>
        </div>
    <% }); %>
</body>
</html>
